body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 5em;
}

ul {
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: auto auto auto auto auto;
    flex-direction: row;
}

ul li {
    width: 50px;
    height: 50px;
    background-color: rgb(158, 158, 158);
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15pt;
    font-weight: bold;
    color: white;

    margin: 5px;
}